FEISHU_WEBHOOK_URL=https://open.feishu.cn/open-apis/bot/v2/hook/replace-me
FEISHU_KEYWORD=[new-api告警]
FEISHU_MESSAGE_TEMPLATE=card
ALERT_ENV=local
ALERT_TZ=Asia/Shanghai
PROMETHEUS_URL=http://127.0.0.1:9090
ALERTMANAGER_URL=http://127.0.0.1:9093
GRAFANA_URL=http://127.0.0.1:3001
GRAFANA_DASHBOARD_URL=
LISTEN_HOST=0.0.0.0
LISTEN_PORT=5001
HTTP_TIMEOUT_SECONDS=5
